# Core Libraries
python-telegram-bot~=20.0
requests~=2.31
pandas~=2.0
aiohttp~=3.8
pytz~=2023.3
TA-Lib # Just TA-Lib, as the C library is pre-installed
rich~=13.0

# Google Cloud Translation
google-cloud-translate~=2.0
